@import "../../../styles/variables.scss";
.root {
    padding: 10px 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.total {
    font-weight: 500;
}

.pagination {
    display: flex;
    list-style-type: none;
    width: 200px;
    justify-content: space-around;
    font-size: 14px;
    [class*="previous"],
    [class*="next"] {
        font-weight: 500;
    }
    li {
        a {
            display: block;
            cursor: pointer;
            width: 20px;
            line-height: 20px;
            text-align: center;
            outline: 0;
        }
    }
    .active {
        font-weight: 500;
        border: 1px solid $bright-blue;
        border-radius: 50%;
    }
}
